.content{
    width: 100vw;
    height: 100vh;
    background-image: url("https://ik.imagekit.io/4z8covdo9/Food%20Store/foodmunch-banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}